body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

body > div {
  width: 100%;
  text-align: center;
}

#current-speed {
  font-size: 12rem;
  font-family: sans-serif;
  line-height: 12rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.selected {
  background-color: rgba(10, 113, 131, 0.884);
  color: #fff;
}

